.buypage_section_1 {
  background-color: #EBEBEB;
  padding: 6.25vw 15.625vw 0;
}

.buypage_section_1 .first_part_title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 5.20833vw;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(90deg, #262629 0%, #C0C0C0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buypage_section_1 .first_part_subtitle,
.buypage_section_1 .second_part_title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2.0833vw;
  leading-trim: NONE;
  line-height: 2.6041667vw;
  letter-spacing: 0%;
  text-align: center;
  color: #262629;
}

.buypage_section_1 .first_part_text,
.buypage_section_1 .second_part_text {
  width: 40vw;
  margin: 0.3125vw auto 0 auto;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(14px, 0.8333vw, 0.8333vw);
  leading-trim: NONE;
  line-height: clamp(21px, 1.25vw, 1.25vw);
  letter-spacing: 0.32px;
  text-align: center;
  color: rgba(38, 38, 41, 0.7);
}

.buypage_section_1 .first_part_btn {
  width: 21.875vw;
  padding: 0 0.78125vw;
  min-height: 44px;
  min-width: 368px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262629;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(14px, 0.8333vw, 0.8333vw);
  leading-trim: NONE;
  line-height: clamp(21px, 1.25vw, 1.25vw);
  letter-spacing: 0.32px;
  text-align: center;
  color: #fff;
  margin: 0.15625vw auto 0 auto;
  border-radius: 3.125vw;
}

.buypage_section_1 .first_part_img {
  width: 63.59375vw;
  height: 35.15625vw;
  margin: 1.25vw auto 0 auto;
  object-fit: cover;
  object-position: center center;
}

.buypage_section_1 .second_part {
  margin-top: 5.625vw;
}

.buypage_section_1 .second_part_img {
  width: 100%;
  height: 31.25vw;
  border-radius: 1.25vw;
  margin-top: 2.34375vw;
  object-fit: cover;
  object-position: center center;
}

.buypage_section_1 .third_part {
  display: flex;
  align-items: center;
  gap: 3.59375vw;
  margin-top: 6.71875vw;
}

.buypage_section_1 .third_part_img_box {
  width: 29.6875vw;
  height: 31.25vw;
  border-radius: 1.25vw;
  overflow: hidden;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buypage_section_1 .third_part_img,
.buypage_section_1 .third_part picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.buypage_section_1 .third_part_img+div {
  flex: 0 0 auto;
  width: 29.84375vw;
}

.buypage_section_1 .third_part_title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2.0833vw;
  leading-trim: NONE;
  line-height: 2.6041667vw;
  letter-spacing: 0%;
  color: #262629;
}

.buypage_section_1 .third_part_text {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(14px, 0.8333vw, 0.8333vw);
  leading-trim: NONE;
  line-height: clamp(21px, 1.25vw, 1.25vw);
  letter-spacing: 0.32px;
  color: rgba(38, 38, 41, 0.7);
  margin-top: 1.25vw;
}

.buypage_section_1 .fourth_part {
  display: flex;
  align-items: stretch;
  gap: 1.296875vw;
  margin-top: 2.65625vw;
}

.buypage_section_1 .fourth_part_left {
  flex: 0 0 auto;
  width: 35.78125vw;
  min-height: 39.890625vw;
  background-color: #D8D8D8;
  border-radius: 1.25vw;
  position: relative;
  padding-top: 2.859375vw;
  padding-left: 2.5vw;
  overflow: hidden;
}

.buypage_section_1 .fourth_part_left .fourth_part_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}

.buypage_section_1 .fourth_part_title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.35416667vw;
  leading-trim: NONE;
  line-height: 2.6041667vw;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #262629;
  position: relative;
}

.buypage_section_1 .fourth_part_left .fourth_part_title {
  line-height: 1.6145833vw;
}

.buypage_section_1 .fourth_part_text {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(14px, 0.8333vw, 0.8333vw);
  leading-trim: NONE;
  line-height: clamp(21px, 1.25vw, 1.25vw);
  letter-spacing: 0.32px;
  color: rgba(38, 38, 41, .7);
  position: relative;
}

.buypage_section_1 .fourth_part_left .fourth_part_text {
  width: 18.75vw;
  margin-top: 0.671875vw;
}

.buypage_section_1 .fourth_part_right {
  flex: 1;
}

.buypage_section_1 .fourth_part_right .fourth_part_img {
  width: 100%;
  height: 25.046875vw;
  background-color: #d2d2d2;
  border-radius: 1.25vw;
  object-fit: cover;
  object-position: center center;
}

.buypage_section_1 .fourth_part_right .fourth_part_title {
  padding-left: 0.828125vw;
  margin-top: 1.359375vw;
}

.buypage_section_1 .fourth_part_right .fourth_part_pressure_title {
  padding-left: 0.828125vw;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.35416667vw;
  leading-trim: NONE;
  line-height: 2.6041667vw;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #262629;
  margin-top: 1.828125vw;
}

.buypage_section_1 .fourth_part_right .fourth_part_text {
  padding-left: 0.828125vw;
}

.buypage_section_1 .fourth_part_pressure_img {
  width: 26.203125vw;
  height: 0.71875vw;
  object-fit: cover;
  object-position: center center;
  padding-left: 0.828125vw;
}

.buypage_section_1 .fourth_part_pressure_text_line {
  width: 26.203125vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.359375vw;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(12px, 0.625vw, 0.625vw);
  leading-trim: NONE;
  line-height: clamp(16.5px, 1.25vw, 1.25vw);
  letter-spacing: 0.32px;
  color: rgba(38, 38, 41, .7);
  padding-left: 0.828125vw;
}

.buypage_section_1 .pmd_show {
  display: none;
}

@media screen and (max-width: 768px) {
  .buypage_section_1 {
    padding: 15.2vw 5.6vw 0;
  }

  .buypage_section_1 .first_part_title {
    font-size: 8.533vw;
  }

  .buypage_section_1 .first_part_subtitle {
    font-size: 5.333vw;
    line-height: 6.933vw;
    margin-top: 2.4vw;
  }

  .buypage_section_1 .second_part_title {
    font-size: 6.4vw;
    line-height: 8vw;
  }

  .buypage_section_1 .first_part_text,
  .buypage_section_1 .second_part_text {
    width: 100%;
    margin: 3.2vw auto 0;
    font-size: 3.7333vw;
    line-height: 5.8667vw;
  }

  .buypage_section_1 .first_part_img {
    width: 100%;
    height: 63.2vw;
    margin: 4.8vw auto 0;
  }

  .buypage_section_1 .second_part {
    margin-top: 12vw;
  }

  .buypage_section_1 .second_part_text {
    margin: 1.6vw auto 0 auto;
    line-height: 5.3333vw;
  }

  .buypage_section_1 .second_part_img {
    height: 98.4vw;
    border-radius: 3.2vw;
    margin-top: 3.2vw;
  }

  .buypage_section_1 .third_part {
    flex-direction: column-reverse;
    gap: 4.8vw;
    margin-top: 9.6vw;
  }

  .buypage_section_1 .third_part_img_box {
    width: 100%;
    height: 98.4vw;
    border-radius: 3.2vw;
  }

  /* .buypage_section_1 .third_part_img,
  .buypage_section_1 .third_part picture {
    width: 100%;
    height: 98.4vw;
    border-radius: 3.2vw;
  } */

  .buypage_section_1 .third_part_img+div {
    width: 100%;
  }

  .buypage_section_1 .third_part_title {
    font-size: 6.4vw;
    line-height: 8vw;
    text-align: center;
  }

  .buypage_section_1 .third_part_text {
    font-size: 3.7333vw;
    line-height: 6.4vw;
    margin-top: 1.6vw;
    text-align: center;
  }

  .buypage_section_1 .fourth_part {
    flex-wrap: wrap;
    gap: 3.76vw;
    margin-top: 7.2vw;
  }

  .buypage_section_1 .fourth_part_left {
    width: 100%;
    height: 122.64vw;
    border-radius: 3.2vw;
    padding-top: 7.44vw;
    padding-left: 7.44vw;
  }

  .buypage_section_1 .fourth_part_title,
  .buypage_section_1 .fourth_part_left .fourth_part_title {
    font-size: 6.933vw;
    line-height: 8.26667vw;
  }

  .buypage_section_1 .fourth_part_text {
    font-size: 3.733vw;
    line-height: 6.4vw;
  }

  .buypage_section_1 .fourth_part_left .fourth_part_text {
    width: 56.8vw;
    margin-top: 2.4vw;
  }

  .buypage_section_1 .fourth_part_right .fourth_part_img {
    height: 70.64vw;
    border-radius: 3.2vw;
  }

  .buypage_section_1 .fourth_part_right .fourth_part_title {
    padding-left: 0;
    margin-top: 2.96vw;
    font-size: 5.33vw;
    line-height: 13.333vw;
  }

  .buypage_section_1 .fourth_part_right .fourth_part_text {
    padding-left: 0vw;
    line-height: 5.8667vw;
    margin-top: -1.84vw;
  }

  .buypage_section_1 .fourth_part_right .fourth_part_pressure_title {
    padding-left: 0vw;
    font-size: 5.33vw;
    line-height: 13.333vw;
    margin-top: 4.24vw;
  }

  .buypage_section_1 .fourth_part_pressure_img {
    width: 100%;
    height: 2.16vw;
    margin-top: -0.8vw;
  }

  .buypage_section_1 .fourth_part_pressure_text_line {
    width: 100%;
    margin-top: 1.36vw;
    font-size: 3.2vw;
    line-height: 1.2;
    padding-left: 0vw;
  }

  .buypage_section_1 .pc_show {
    display: none;
  }

  .buypage_section_1 .pmd_show {
    display: block;
  }
}