.buypage_section_4 {
  background-color: #EBEBEB;
  padding: 6.71875vw 15.625vw 0;
}

.buypage_section_4 .first_part_title,
.buypage_section_4 .second_part_title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2.0833vw;
  leading-trim: NONE;
  line-height: 2.6041667vw;
  letter-spacing: 0%;
  color: #262629;
}

.buypage_section_4 .first_part_text,
.buypage_section_4 .second_part_text {
  width: 57.8125vw;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(14px, 0.8333vw, 0.8333vw);
  leading-trim: NONE;
  line-height: clamp(21px, 1.25vw, 1.25vw);
  letter-spacing: 0.32px;
  color: rgba(38, 38, 41, 0.7);
  margin-top: 0.46875vw;
}

.buypage_section_4 .first_part_contain {
  display: flex;
  gap: 1.09375vw;
  margin-top: 1.5625vw;
}

.buypage_section_4 .first_part_contain picture,
.buypage_section_4 .first_part_video {
  flex: 0 0 auto;
  width: calc((100% - 1.09375vw) / 2);
  height: 31.25vw;
  border-radius: 1.25vw;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
}

.buypage_section_4 .first_part_img {
  width: 100%;
}

.buypage_section_4 .second_part {
  margin-top: 7.5vw;
}

.buypage_section_4 .second_part_text {
  margin-top: 0.78125vw;
}

.buypage_section_4 .second_part_img {
  width: 100%;
  height: 31.25vw;
  border-radius: 1.25vw;
  object-fit: cover;
  object-position: center center;
  margin-top: 3.125vw;
}

.buypage_section_4 .third_part {
  display: flex;
  gap: 1.09375vw;
  margin-top: 6.71875vw;
}

.buypage_section_4 .third_part_item {
  flex: 1;
  height: 29.84375vw;
  border-radius: 1.09375vw;
  overflow: hidden;
  position: relative;
}

.buypage_section_4 .third_part_item_img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}

.buypage_section_4 .third_part_item_body {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 8.90625vw;
  padding: 0 1.71875vw;
}

.buypage_section_4 .third_part_item_icon {
  width: 2.65625vw;
  height: 2.65625vw;
}

.buypage_section_4 .third_part_item_icon svg {
  width: 100%;
  height: 100%;
}

.buypage_section_4 .third_part_item_title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: clamp(18px, 1.145833vw, 1.145833vw);
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.buypage_section_4 .third_part_item_text {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(14px, 0.9375vw, 0.8333vw);
  leading-trim: NONE;
  line-height: clamp(18px, 1.25vw, 1.25vw);
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-top: 0.9375vw;
}

.buypage_section_4 .pmd_show {
  display: none;
}

@media screen and (max-width: 768px) {
  .buypage_section_4 {
    padding: 12vw 5.6vw 0;
  }

  .buypage_section_4 .first_part_title,
  .buypage_section_4 .second_part_title {
    width: 100%;
    text-align: center;
    font-size: 6.4vw;
    line-height: 8vw;
  }

  .buypage_section_4 .first_part_text,
  .buypage_section_4 .second_part_text {
    width: 100%;
    font-size: 3.7333vw;
    line-height: 5.333vw;
    margin-top: 1.6vw;
    text-align: center;
  }

  .buypage_section_4 .first_part_contain {
    flex-wrap: wrap;
    margin-top: 3.2vw;
    gap: 3.2vw;
  }

  .buypage_section_4 .first_part_img,
  .buypage_section_4 .first_part_contain picture,
  .buypage_section_4 .first_part_video {
    width: 100%;
    height: 89.6vw;
    border-radius: 3.2vw;
  }

  .buypage_section_4 .second_part {
    margin-top: 15.2vw;
  }

  .buypage_section_4 .second_part_img {
    margin-top: 3.2vw;
    border-radius: 3.2vw;
    height: 98.4vw;
  }

  .buypage_section_4 .third_part {
    flex-wrap: wrap;
    gap: 3.2vw;
    margin-top: 4.8vw;
  }

  .buypage_section_4 .third_part_item {
    flex: 0 0 auto;
    width: 100%;
    height: 106.4vw;
    border-radius: 3.2vw;
  }

  .buypage_section_4 .third_part_item_body {
    min-height: 40.8vw;
    padding: 0 5.6vw;
  }

  .buypage_section_4 .third_part_item_icon {
    width: 13.6vw;
    height: 13.6vw;
  }

  .buypage_section_4 .third_part_item_title {
    font-size: 5.8667vw;
  }

  .buypage_section_4 .third_part_item_text {
    font-size: 4.8vw;
    line-height: 6.4vw;
    margin-top: 4.8vw;
  }

  .buypage_section_4 .pc_show {
    display: none;
  }

  .buypage_section_4 .pmd_show {
    display: block;
  }
}